<!--The content below is only a placeholder and can be replaced.-->
<mat-form-field>
  <input [formControl]="formControlData" (blur)="parseData()" maxlength="10" required matInput type="text" [(ngModel)]="test" (keypress)="mascaraCompetencia()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<input [formControl]="formControlInputOculto" matInput [matDatepicker]="picker" (dateChange)="DataSelecionada($event)" placeholder="Choose a date">
<router-outlet></router-outlet>
